:root {
  --grid-template-colums-v: repeat(auto-fill, minmax(200px, 1fr));
  --sxc-hover: white;
}

.sxc-wrapper{
    display: grid;
    grid-template-columns: var(--grid-template-colums-v);
    grid-column-gap: 0.2em;
    grid-row-gap: 1em;
}

.sxc-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sxc{
	background: none;
	border: none !important;
	color: white;
	font-size: 2.7em;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
  transition: color 200ms ease-in-out;
}

.sxc:focus, .sxc:hover {
	outline: none !important;
	box-shadow: unset !important;
}

.sxc:hover {
  color: var(--sxc-hover);
}



@media (min-width: 1024px){
  .sxc-wrapper{
    --grid-template-colums-v: repeat(6, 1fr);
  }
}

@media (max-width: 768px){
    .sxc-wrapper{
      --grid-template-colums-v: repeat(3, 1fr);
    }
}

@media (max-width: 300px){
  .sxc-wrapper{
    --grid-template-colums-v: repeat(2, 1fr);
  }
}

@media (max-width: 200px){
    .sxc-wrapper{
      --grid-template-colums-v: repeat(1, minmax(50px, 1fr));
    }
}