# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Markdown Files
*.md
!README.md

# Ignore Gemini files
.geminignore
/.gemini

# Ignore sensitive files 
client_id.json
key.json
service_account.json
.env

# Ignore folder
build/
.temp/
